---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { Image } from 'astro:assets';
import FormattedDate from '../../components/FormattedDate.astro';
import { formatDuration } from '../../utils/formationDuration';

export async function getStaticPaths() {
  const episodes = await getCollection('episode');
  return episodes.map((episode) => ({
    params: { slug: episode.id },
    props: episode,
  }));
}
type Props = CollectionEntry<'episode'>;

const episode = Astro.props;
const { Content } = await render(episode);
const { title, description, pubDate, coverImage, audioUrl } = episode.data;

const episodeTitle = title;

const sizeInMB = Math.round(episode.data.sizeInBytes / (1024 * 1024));
const durationInMinutes = formatDuration(episode.data.durationInSeconds);
---

<style>
  .cover-image {
    margin: 32px auto;
    max-width: 300px;
    width: 100%;
  }
  .cover-image img {
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
  }

  @media (min-width: 768px) {
    .cover-image {
      max-width: 500px;
    }
  }

  .prose {
    width: 720px;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 1em;
    color: rgb(var(--gray-dark));
  }
  .title {
    margin: 0;
    padding: 0;
    line-height: 1;
  }
  .title h1 {
    margin: 0 0 0.5em 0;
  }
  .date {
    color: rgb(var(--gray));
  }
  .last-updated-on {
    font-style: italic;
  }

  .buttons {
    display: flex;
    gap: 8px;
    margin: 24px 0 64px;
    flex-wrap: wrap;
  }

  .Button {
    align-items: center;
    background-color: rgb(0, 0, 0, 0.8);
    border: none;
    border-radius: 32px;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    gap: 8px;
    padding: 12px 16px 12px 12px;
    text-decoration: none;
    justify-content: center;
    width: 100%;
  }

  .Button--download .Button__icon {
    rotate: 90deg;
  }

  @media (min-width: 480px) {
    .Button {
      width: auto;
    }
  }
</style>

<Layout {...episode.data}>
  <article>
    <div class="prose">
      <div class="title">
        <h1>{title}</h1>
        <div class="date">
          <FormattedDate date={pubDate} />
        </div>
      </div>
      <div class="cover-image">
        {
          coverImage && (
            <Image width={1400} height={1400} src={coverImage} alt="" />
          )
        }
      </div>
      <div class="buttons">
        <button id="play-episode" class="Button">
          <img
            src="/icons/play.svg"
            class="Button__icon"
            alt="Play icon"
            width="24"
            height="24"
          />
          Écouter ({durationInMinutes} min)
        </button>
        <a
          href={audioUrl}
          class="Button Button--download"
          download={`${episode.id}.mp3`}
        >
          <img
            src="/icons/play.svg"
            class="Button__icon"
            alt="Play icon"
            width="24"
            height="24"
          />
          Télécharger ({sizeInMB} Mo)
        </a>
      </div>
      <Content />
    </div>
  </article>
</Layout>

<script define:vars={{ episodeTitle, episodeUrl: Astro.url, audioUrl }}>
  const playEpisodeButton = document.getElementById('play-episode');

  if (playEpisodeButton) {
    playEpisodeButton.addEventListener('click', () => {
      document.dispatchEvent(
        new CustomEvent('audio:play', {
          detail: {
            title: episodeTitle,
            href: episodeUrl,
            audioUrl,
          },
        }),
      );
    });
  }
</script>
