---
import {type CollectionEntry, getCollection, render} from 'astro:content';
import Layout from "../../layouts/Layout.astro";
import {Image} from "astro:assets";
import FormattedDate from "../../components/FormattedDate.astro";

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: {slug: post.id},
    props: post,
  }));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const {Content} = await render(post);
const {title, description, pubDate, updatedDate, heroImage} = post.data;

const episodeTitle = title;
---

<style>
  .PlayEpisodeButton {
    align-items: center;
    background-color: rgb(0, 0, 0, 0.8);
    border: none;
    border-radius: 32px;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    gap: 8px;
    margin: 24px 0 32px;
    padding: 12px 16px 12px 12px;
  }
</style>

<Layout {...post.data}>
    <article>
        <div class="hero-image">
          {heroImage &&
                  <Image width={1020} height={510} src={heroImage} alt=""/>}
        </div>
        <div class="prose">
            <div class="title">
                <h1>{title}</h1>
                <div class="date">
                    <FormattedDate date={pubDate}/>
                  {
                    updatedDate && (
                                  <div class="last-updated-on">
                                      Last updated on
                                      <FormattedDate date={updatedDate}/>
                                  </div>
                    )
                  }
                </div>
            </div>
            <button id="play-episode" class="PlayEpisodeButton">
                <img src="/icons/play.svg" alt="Play icon" width="24" height="24"/>
                Écouter
            </button>
            <Content/>
        </div>
    </article>
</Layout>

<script define:vars={{episodeTitle, episodeUrl: Astro.url}}>
  const playEpisodeButton = document.getElementById('play-episode');
  if (playEpisodeButton) {
    playEpisodeButton.addEventListener('click', () => {
      document.dispatchEvent(new CustomEvent('audio:play', {
        detail: {
          title: episodeTitle,
          href: episodeUrl,
          audioUrl: 'https://dts.podtrac.com/redirect.mp3/https://sons-audioblogs.arte.tv/audioblogs/v2/sons/258125/258445/podcast_258445_dXf6l.mp3',
        },
      }));
    });
  }
</script>
